@import "~react-checkbox-tree/lib/react-checkbox-tree.css";

.rct-icon {
  color: blue;
  font-size: 16px;
}

.react-checkbox-tree ol li {
  margin-bottom: 8px;
}

.preview-watermark {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  font-size: 15vw;
  pointer-events: none;
  opacity: 0.5;
}

.preview-countdown {
  position:fixed;
  bottom:5px;
  right:5px;
  opacity:0.5;
  z-index:99;
  font-size: 5vw;
  pointer-events: none;
}